
html { 
  background: url(https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
	font-family: 'Roboto', sans-serif;
    font-size: 16 px;
    line-height: 1.6;	
}

.boton{
	background: #DB3030;
	border-radius: 3px;
	text-decoration: none;
	padding:5px 10px;
	color: white;
}
.container2 {
	margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
	position: fixed;
	padding:25px;
	color: white;
	background: rgba(0, 0, 0, 0.7);
    position:absolute;
	*-moz-border-radius: 10px;
    border-radius: 10px;
}
@media screen and (min-width: 600px) {
.container2 {
  width: 600px;
}